*{
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(33, 37, 41);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.grid{
  display: grid;
  gap: 16px;
}

.per-page-container{
  gap: 16px;
  align-items: center;
}

.flex{
    display: flex;
}

.p16{
  padding: 16px;
}

.search-container{
   justify-content: end;
}

input{
    width: 241px;
    height: 38px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 212, 218);
    padding: 6px 12px 6px;
    border-radius: 4px;
    outline: none;
}

input:focus{
  border-color: #7952b3; 
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey background */
    border-top: 4px solid #3498db; /* Blue spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .error{
    color: red;
    text-align: left;
  }

  .pagination{
    justify-content: end;
    gap: 16px;
  }

  td,th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(222, 226, 230);
  }

  .capitalize{
    text-transform: capitalize;
  }